*{
padding:0px;
margin:0px;
}
.top{
	position: relative;
	width: 100%;
	height: 70px;
	background-color: #0066cc;

}
.user{
	text-align: right;
	margin: 0px 10px 100px;
	height: 30px;
}
.top_name{
	color:#663333;
	
	text-align: center;
	font-size: 35px;
	width: 100%;
	font-family: "微软雅黑";
}
 
.bg{
    background-color: #f0f9fd;
    }



.lefttop{height:40px;background-color: #000000 ;width: 186px;color:#FFFF99;font-size:20px;line-height:40px;}
.lefttop span{margin-left:8px; margin-top:10px;margin-right:8px;  width:20px; height:21px;float:left;}
.leftmenu{width:187px;padding-bottom: 500px;margin-bottom: -500px; overflow:hidden;}
.leftmenu dd{line-height:35px;font-weight:bold;font-size:15px;border-right:solid 3px #b7d5df;}
.leftmenu dd span{float:left;margin:10px 8px 0 12px;}
.leftmenu dd .menuson{display:none;}
.leftmenu dd:first-child .menuson{display:block;}
.menuson {line-height:30px; font-weight:normal; }
.menuson li{cursor:pointer;}
.menuson li.active{position:relative; line-height:30px; color:#009999;}
.menuson li cite{display:block; float:left; margin-left:32px;  width:16px; height:16px; margin-top:7px;}
.menuson li.active cite{}
.menuson li.active i{display:block;  width:6px; height:11px; position:absolute; right:0;z-index:10000; top:9px; right:-1px;}
.menuson li a{ display:block; *display:inline; *padding-top:5px; color:#000000;}
.menuson li.active a {color:#339999;}
.title{cursor:pointer;}